body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 200px;
    background-color: aquamarine;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    width: 100vw;
    flex: 1;
    background-image: url(19964702_6205808.jpg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    height: 50vh;
    width: 40vw;

}